nav { padding: 80px 0; }

.nav__item {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #34547A;
    margin-right: 40px;
}

.nav__item:last-child { margin-right: 0; }

.hero { padding: 70px 0 140px; }

.hero h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.hero .hero__description {
    margin-top: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    max-width: 540px;
}

.write__me {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: 80px;
    border: 0;
    padding: 21px 69px; 
}